    .box1 {
        border: 5px red solid ;
        border-width: 80%;
        margin: auto;
            }
a {
  text-decoration: none;
    color:#000;
}   
a :hover{
   color: red;
 }

a :active{
     color: green;          
}
a :visited{
   color: yellow;
 }   
    .상황별 { 
            border: 1px #ccc solid;
            padding: 10px;
            border-radius: 15px;
            } 
    .상황별 h2 { 
                text-align: center;
                }
    .상황별 ul {
            padding-left: 20px;
            list-style: square;
            list-style-type: none;
                }
 .상황별 li {
        padding-bottom: 6px;
        border-bottom: dotted 1px #333;
            }